{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<div style="padding: 50px 30px 50px 30px;">
  <br>
<div class="row justify-content-center">
       <div class="col-md-2">
         <h1><i class="fa-solid fa-school-flag"></i> Clientes</h1>
         <form class="" action="/guardarCliente/" method="post" enctype="multipart/form-data" id="frm_nuevo_cliente">
           {% csrf_token %}
           <b>Seleccione el Tipo:</b>
           <select class="form-control selectpicker" name="id_tip" id="id_tip" data-live-search="true" data-live-search-style="startsWith" required>
              <option value="">---SELECCIONE EL TIPO---</option >
              {%  for tipo in tipos %}
              <option value="{{tipo.idTipAALM}}">{{tipo.nombreTipAALM}}</option>
              {% endfor %}
            </select>
            <br>


           <br>
           <b>Nombre:</b>
           <input type="text" name="nombreCliAALM" value="" id="nombreCliAALM" placeholder="Ingrese el nombre" class="form-control" required><br>
           <b>Apellido:</b>
           <input type="text" name="apellidoCliAALM" value="" id="apellidoCliAALM" placeholder="Ingrese el apellido" class="form-control" required><br>
           <b>Direccion:</b>
           <input type="text" name="direccionCliAALM" value="" id="direccionCliAALM" placeholder="Ingrese la direccion" class="form-control" required>
           <br>
           <b>Telefono:</b>
           <input type="text" name="telefonoCliAALM" value="" id="telefonoCliAALM" placeholder="Ingrese el telefono" class="form-control" required>
           <br>
           <b>Foto Licencia</b>
            <input type="file" name="fotografia" accept="image/*" id="fotografia" value="" class="form-control" >
           <br>
           <script>
           $(document).ready(function () {
               $("#fotografia").fileinput({
                 //showUpload:false
                 //showRemove: false,
                 language:'es',
               });
             });
           </script>



            <center>
              <button type="submit" name="button" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;</button>
              <button type="reset" name="button" class="btn btn-warning">&nbsp;&nbsp;&nbsp;Cancelar&nbsp;&nbsp;&nbsp;</button>

            </center>


         </form>

       </div>
       <div class="col-md-5 text-center">
         <img src="{% static 'img/libro1.jpg' %}" alt=""  width="20%">
         <table class="table" id="tbl_clientes">
           <thead>
             <tr>
               <th>ID</th>
               <th>NOMBRE</th>
               <th>APELLIDO</th>
               <th>DIRECCION</th>
               <th>TELEFONO</th>
               <th>FOTO LICENCIA</th>
               <th>TIPO</th>
               <th>ACCIONES</th>


             </tr>

           </thead>
           <tbody>
             {% for cliente in clientes %}
                <tr>
                  <td>{{cliente.idCliAALM}}</td>
                  <td>{{cliente.nombreCliAALM}}</td>
                  <td>{{cliente.apellidoCliAALM}}</td>
                  <td>{{cliente.direccionCliAALM}}</td>
                  <td>{{cliente.telefonoCliAALM}}</td>

                  <td>
                    {% if cliente.fotografia %}
                    <a href="{{cliente.fotografia.url}}" target="_blank"><img src="{{cliente.fotografia.url}}" alt="" height="50px">
                    {% else %}</a>

                    <b>N A</b>
                    {% endif %}
                  </td>

                  <td>{{cliente.tipo.nombreTipAALM}}</td>







                  <td>
                        <a href="/editarCliente/{{cliente.idCliAALM}}" class="btn btn-warning">Editar</a>
                        <a href="javascript: void(0)" onclick="eliminarCliente('/eliminarCliente/{{cliente.idCliAALM}}');" class="btn btn-danger">Eliminar</a>
                  </td>
                </tr>
                {% endfor %}
           </tbody>

         </table>
       </div>


    <div class="row">
    <div class="col-md-12 text-center">
      <button id="toggleChartButton" onclick="toggleChart()" class="btn btn-info">Mostrar/ocultar gráfico</button>

    </div>
    <div
          id="chartContainer"
          style="
            width: 50%;
            margin: auto;
            border: 2px solid black;
            padding: 10px;
            display: none;
          "
        >
          <canvas id="myChart"></canvas>
    </div>
  </div>

    <script type="text/javascript">
        function eliminarCliente(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar el cliente seleccionado?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {

                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                  }],
              ]
          });
        }
      </script>

      <script type="text/javascript">
        $.validator.addMethod(
        'lettersonly',
        function (value, element) {
          return this.optional(element) || /^[a-zA-Z\s]*$/.test(value)
        },
        'Solo se permiten letras en este campo'
      )
        $("#frm_nuevo_cliente").validate({
          rules:{
            "id_tip":{
            required:true
           },
             "nombreCliAALM":{
             required:true,
             lettersonly:true
            },
            "apellidoCliAALM":{
              required:true,
              lettersonly:true
            },
            "direccionCliAALM":{
              required:true,
              lettersonly:true
            },
            "telefonoCliAALM":{
              required:true,
              digits: true
            },
            "fotografia":{
              required:true
            }

          },
          messages:{
            "id_tip":{
            required:"Por favor seleccione el tipo"
           },
           "nombreCliAALM":{
           required:"Ingrese el nombre"
          },
          "apellidoCliAALM":{
            required:"Ingrese el apellido"
          },
          "direccionCliAALM":{
            required:"Ingrese la direccion"
          },
          "telefonoCliAALM":{
            required:"Ingrese el telefono"
          },
          "fotografia":{
            required:"Ingrese la fotografia"
            }

          },
        });
      </script>

      <script type="text/javascript">
       //let table = new DataTable('#tbl_clientes');
        $('#tbl_clientes').DataTable( {
            dom: 'Bfrtip',
            buttons: [
            {
                extend: 'pdfHtml5',
                messageTop: 'REPORTE DE CLIENTES - DJANGO Y DATATABLES.'
            },
            'print',
            'csv'
          ],
          language: {
                  url: "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json" // Configura el idioma a español
              }
        } );
      </script>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const ctx = document.getElementById('myChart');

    const tiposSet = new Set();

    const clientesTipo = {};
    {% for cliente in clientes %}
      tiposSet.add("{{ nombreCliAALM}}");
      if (!clientesTipo["{{ nombreCliAALM }}"]) {
        clientesTipo["{{ nombreCliAALM }}"] = 1;
      } else {
        clientesTipo["{{ nombreCliAALM }}"] += 1;
      }
    {% endfor %}
    const tiposArray = Array.from(tiposSet);
    const posiciones = tiposArray.map((tipo, index) => ({ x: index, y: clientesTipo[tipo] || 0 }));

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: tiposArray,
        datasets: [{
          label: 'Cantidad de Cliente',
          data: posiciones.map(posicion => posicion.y),
          backgroundColor: 'rgba(75, 192, 192, 0.5)',
          borderColor: 'rgba(75, 192, 192, 1)',
          borderWidth: 1,
        }]
      },
      options: {
        scales: {
          x: {
            type: 'category',
            position: 'bottom',
          },
          y: {
            beginAtZero: true,
            max: 10,
            stepSize: 1,
          }
        }
      }
    });
    window.toggleChart = function() {
      const chartContainer = document.getElementById('chartContainer');

      if (chartContainer.style.display === 'none') {
        chartContainer.style.display = 'block';
      } else {
        chartContainer.style.display = 'none';
      }
    };
  });
</script>





    {% endblock %}
