{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionVehiculo/" enctype="multipart/form-data" method="post" id="frm_nuevo_vehiculo">
      {% csrf_token %}
      <b>Seleccione el cliente:</b>
      <select class="form-control selectpicker" name="id_cli" id="id_cli" data-live-search="true" data-live-search-style="startsWith" required>
         <option value="">---SELECCIONE EL CLIENTE---</option >
         {%  for cliente in clientes %}
         <option value="{{cliente.idCliAALM}}">{{cliente.nombreCliAALM}}</option>
         {% endfor %}
       </select>
       <script type="text/javascript">
        document.getElementById("id_cli").value="{{vehiculo.cliente.idCliAALM}}";
       </script><br>
       <b>Seleccione el marca:</b>
       <select class="form-control selectpicker" name="id_mar" id="id_mar" data-live-search="true" data-live-search-style="startsWith" required>
          <option value="">---SELECCIONE LA MARCA---</option >
          {%  for marca in marcas %}
          <option value="{{marca.idMarAALM}}">{{marca.nombreMarAALM}}</option>
          {% endfor %}
        </select>
        <script type="text/javascript">
         document.getElementById("id_mar").value="{{vehiculo.marca.idMarAALM}}";
        </script><br>




      <input type="hidden" name="idVehAALM"  value="{{vehiculo.idVehAALM}}">
      <b>Placa:</b>
      <input type="text" name="placaVehAALM" value="{{vehiculo.placaVehAALM}}" id="placaVehAALM" placeholder="Ingrese la placa" class="form-control" required><br>
      <b>Modelo:</b>
      <input type="text" name="modeloVehAALM" value="{{vehiculo.modeloVehAALM}}" id="modeloVehAALM" placeholder="Ingrese el modelo" class="form-control" required><br>
      <b>Ano Fabricacion:</b>
      <input type="text" name="anofabricacionVehAALM" value="{{vehiculo.anofabricacionVehAALM}}" id="anofabricacionVehAALM" placeholder="Ingrese el año (YYYY)" class="form-control" pattern="\d{4}" title="Ingrese un año válido de cuatro dígitos" required>
      <br>
      <b>Color:</b>
      <input type="text" name="colorVehAALM" value="{{vehiculo.colorVehAALM}}" id="colorVehAALM" placeholder="Ingrese el color" class="form-control" required>
      <br>
      <b>Fotografia</b>
            <div class="custom-file">
                <input type="file" name="fotografia" accept="image/*" id="fotografia" class="custom-file-input" >
            </div>
            {% if vehiculo.fotografia %}
                <img src="{{ vehiculo.fotografia.url }}" alt="{{ vehiculo.fotografia.name }}" height="60px">
            {% endif %}
      <br>
      <script>
       $(document).ready(function () {
           $("#fotografia").fileinput({
             //showUpload:false
             //showRemove: false,
             language:'es',
           });
       });
     </script>

      <center>
        <button type="submit" name="button"
        class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;Actualizar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/listadoVehiculos/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>

<script type="text/javascript">
  $.validator.addMethod(
'lettersonly',
function (value, element) {
  return this.optional(element) || /^[a-zA-Z\s]*$/.test(value)
},
'Solo se permiten letras en este campo'
)
  $("#frm_nuevo_vehiculo").validate({
    rules:{
      "id_cli":{
      required:true
     },
       "id_mar":{
       required:true
      },
       "placaVehAALM":{
       required:true
      },
       "modeloVehAALM":{
        required:true,
        lettersonly:true
      },
      "anofabricacionVehAALM":{
        required:true,
        digits: true
      },
      "colorVehAALM":{
        required:true,
        lettersonly:true
      },
      "fotografia":{
        required:true
      }

    },
    messages:{
      "id_cli":{
      required:"Por favor seleccione el cliente"
     },
     "id_mar":{
     required:"Por favor seleccione la marca"
    },
     "placaVehAALM":{
     required:"Ingrese la placa"
    },
    "modeloVehAALM":{
      required:"Ingrese el modelo"
    },
    "anofabricacionVehAALM":{
      required:"Ingrese el ano de fabricacion"
    },
    "colorVehAALM":{
      required:"Ingrese el color"
    },
    "fotografia":{
      required:"Ingrese la fotografia"
      }

    },
  });
</script>

{% endblock %}
