{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionRegistro/" enctype="multipart/form-data" method="post" id="frm_nuevo_registro">
      {% csrf_token %}
      <b>Seleccione el vehiculo:</b>
      <select class="form-control selectpicker" name="id_veh" id="id_veh" data-live-search="true" data-live-search-style="startsWith" required>
         <option value="">---SELECCIONE EL VEHICULO---</option >
         {%  for vehiculo in vehiculos %}
         <option value="{{vehiculo.idVehAALM}}">{{vehiculo.placaVehAALM}}</option>
         {% endfor %}
       </select>
       <script type="text/javascript">
        document.getElementById("id_veh").value="{{registro.vehiculo.idVehAALM}}";
       </script><br>
       <b>Seleccione el Lugar:</b>
       <select class="form-control selectpicker" name="id_lug" id="id_lug" data-live-search="true" data-live-search-style="startsWith" required>
          <option value="">---SELECCIONE EL LUGAR---</option >
          {%  for lugar in lugares %}
          <option value="{{lugar.idLugAALM}}">{{lugar.nombreLugAALM}}</option>
          {% endfor %}
        </select>
        <script type="text/javascript">
         document.getElementById("id_lug").value="{{registro.lugar.idLugAALM}}";
        </script><br>




      <input type="hidden" name="idRegAALM"  value="{{registro.idRegAALM}}">
      <b>Fecha Ingreso:</b>
      <input type="date" name="fechaIngresoRegAALM" value="{{registro.fechaIngresoRegAALM}}" id="fechaIngresoRegAALM" placeholder="Ingrese la fecha ingreso" class="form-control" required><br>
      <b>Fecha Salida:</b>
      <input type="date" name="fechaSalidaRegAALM" value="{{registro.fechaSalidaRegAALM}}" id="fechaSalidaRegAALM" placeholder="Ingrese la fecha de salida" class="form-control" required><br>
      <b>Hora Ingreso:</b>
      <input type="text" name="horaIngresoRegAALM" value="{{registro.horaIngresoRegAALM}}" id="horaIngresoRegAALM" placeholder="Ingrese la hora de ingreso (HH:MM)" class="form-control" required pattern="[0-9]{1,2}:[0-9]{2}">
      <br>

      <b>Hora Salida:</b>
      <input type="text" name="horaSalidaRegAALM" value="{{registro.horaSalidaRegAALM}}" id="horaSalidaRegAALM" placeholder="Ingrese la hora de salida (HH:MM)" class="form-control" required pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]">
      <br>
      <b>Email:</b>
      <input type="email" name="emailRegAALM" value="{{registro.emailRegAALM}}" id="emailRegAALM" placeholder="Ingrese el email" class="form-control" required>
      <br>
      <b>Total:</b>
      <input type="number" name="total" value="{{registro.total}}" id="total" placeholder="Ingrese el total" class="form-control" required step="0.01">
      <br>

      <center>
        <button type="submit" name="button"
        class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;Actualizar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/listadoRegistros/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>

<script type="text/javascript">
  $.validator.addMethod(
'lettersonly',
function (value, element) {
  return this.optional(element) || /^[a-zA-Z\s]*$/.test(value)
},
'Solo se permiten letras en este campo'
)
  $("#frm_nuevo_registro").validate({
    rules:{
      "id_veh":{
      required:true
     },
       "id_lug":{
       required:true
      },
       "fechaIngresoRegAALM":{
       required:true
      },
       "fechaSalidaRegAALM":{
        required:true
      },
      "horaIngresoRegAALM":{
        required:true
      },
      "horaSalidaRegAALM":{
        required:true
      },
      "emailRegAALM":{
        required:true
      },
      "total":{
        required:true
      }

    },
    messages:{
      "id_veh":{
      required:"Por favor seleccione el vehiculo"
     },
     "id_lug":{
     required:"Por favor seleccione el lugar"
    },
     "fechaIngresoRegAALM":{
     required:"Ingrese la fecha de ingreso"
    },
    "fechaSalidaRegAALM":{
      required:"Ingrese la fecha salida"
    },
    "horaIngresoRegAALM":{
      required:"Ingrese la hora de ingreso"
    },
    "horaSalidaRegAALM":{
      required:"Ingrese la hora de salida"
    },
    "emailRegAALM":{
      required:"Ingrese el email"
      },
      "total":{
        required:"Ingrese el total"
        }

    },
  });
</script>

{% endblock %}
