{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionLugar/" enctype="multipart/form-data"  method="post" id="frm_nuevo_lugar">
      {% csrf_token %}



      <input type="hidden" name="idLugAALM"  value="{{lugar.idLugAALM}}">
      <b>Nombre:</b>
      <input type="text" name="nombreLugAALM" value="{{lugar.nombreLugAALM}}" id="nombreLugAALM" placeholder="Ingrese el nombre  " class="form-control" required><br>
      <b>Estado:</b>
      <input type="text" name="estadoLugAALM" value="{{lugar.estadoLugAALM}}" id="estadoLugAALM" placeholder="Ingrese el estado " class="form-control" required><br>
      <b>Descripcion:</b>
      <input type="text" name="descripcionLugAALM" value="{{lugar.descripcionLugAALM}}" id="descripcionLugAALM" placeholder="Ingrese la descripcion " class="form-control" required><br>



      <center>
        <button type="submit" name="button"
        class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;Actualizar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/listadoLugares/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>

<script type="text/javascript">
  $.validator.addMethod(
'lettersonly',
function (value, element) {
  return this.optional(element) || /^[a-zA-Z\s]*$/.test(value)
},
'Solo se permiten letras en este campo'
)
  $("#frm_nuevo_lugar").validate({
    rules:{
      "nombreLugAALM":{
        required:true,
        lettersonly:true
      },
      "estadoLugAALM":{
        required:true,
        lettersonly:true
      },
      "descripcionLugAALM":{
        required:true,
        lettersonly:true
      }

    },
    messages:{
      "nombreLugAALM":{
        required:"Ingrese el nombre"
      },
      "estadoLugAALM":{
        required:"Ingrese el estado"
      },
      "descripcionLugAALM":{
        required:"Ingrese la descripcion"
      }



    }
  });
</script>

{% endblock %}
