{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionTipo/" enctype="multipart/form-data"  method="post" id="frm_nuevo_tipo">
      {% csrf_token %}



      <input type="hidden" name="idTipAALM"  value="{{tipo.idTipAALM}}">
      <b>Nombre:</b>
      <input type="text" name="nombreTipAALM" value="{{tipo.nombreTipAALM}}" id="nombreTipAALM" placeholder="Ingrese el nombre  " class="form-control" required><br>
      <b>Descripcion:</b>
      <input type="text" name="descripcionTipAALM" value="{{tipo.descripcionTipAALM}}" id="descripcionTipAALM" placeholder="Ingrese la descripcion" class="form-control" required><br>



      <center>
        <button type="submit" name="button"
        class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;Actualizar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/listadoTipos/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>

<script type="text/javascript">
  $.validator.addMethod(
'lettersonly',
function (value, element) {
  return this.optional(element) || /^[a-zA-Z\s]*$/.test(value)
},
'Solo se permiten letras en este campo'
)
  $("#frm_nuevo_tipo").validate({
    rules:{
      "nombreTipAALM":{
        required:true,
        lettersonly:true
      },
      "descripcionTipAALM":{
        required:true,
        lettersonly:true
      }

    },
    messages:{
      "nombreTipAALM":{
        required:"Ingrese el nombre"
      },
      "descripcionTipAALM":{
        required:"Ingrese la descripcion"
      }


    }
  });
</script>

{% endblock %}
