{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionMarca/" enctype="multipart/form-data"  method="post" id="frm_nuevo_marca">
      {% csrf_token %}



      <input type="hidden" name="idMarAALM"  value="{{marca.idMarAALM}}">
      <b>Nombre:</b>
      <input type="text" name="nombreMarAALM" value="{{marca.nombreMarAALM}}" id="nombreMarAALM" placeholder="Ingrese el nombre" class="form-control" required><br>
      <b>Descripcion:</b>
      <input type="text" name="descripcionMarAALM" value="{{marca.descripcionMarAALM}}" id="descripcionMarAALM" placeholder="Ingrese la descripcion" class="form-control" required><br>



      <b>Fotografia</b>
            <div class="custom-file">
                <input type="file" name="fotografia"  id="fotografia" class="custom-file-input" accept="image/*" >
            </div>
            {% if marca.fotografia %}
                <img src="{{ marca.fotografia.url }}" alt="{{ marca.fotografia.name }}" height="60px">
            {% endif %}
      <br>
      <script>
       $(document).ready(function () {
           $("#fotografia").fileinput({
             //showUpload:false
             //showRemove: false,
             language:'es',
           });
       });
     </script>

      <center>
        <button type="submit" name="button"
        class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;Actualizar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/listadoMarcas/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>

<script type="text/javascript">
  $.validator.addMethod(
'lettersonly',
function (value, element) {
  return this.optional(element) || /^[a-zA-Z\s]*$/.test(value)
},
'Solo se permiten letras en este campo'
)
  $("#frm_nuevo_marca").validate({
    rules:{
      "nombreMarAALM":{
        required:true,
        lettersonly:true
      },
      "descripcionMarAALM":{
        required:true,
        lettersonly:true
      },
      "fotografia":{
        required:true
      }


    },
    messages:{
      "nombreMarAALM":{
        required:"Ingrese el nombre"
      },
      "descripcionMarAALM":{
        required:"Ingrese la descripcion"
      },
      "fotografia":{
        required:"Ingrese la fotografia"
      }


    }
  });
</script>

{% endblock %}
