{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionCliente/" enctype="multipart/form-data" method="post" id="frm_nuevo_cliente">
      {% csrf_token %}
      <b>Seleccione el tipo:</b>
      <select class="form-control selectpicker" name="id_tip" id="id_tip" data-live-search="true" data-live-search-style="startsWith" required>
         <option value="">---SELECCIONE EL TIPO---</option >
         {%  for tipo in tipos %}
         <option value="{{tipo.idTipAALM}}">{{tipo.nombreTipAALM}}</option>
         {% endfor %}
       </select>
       <script type="text/javascript">
        document.getElementById("id_tip").value="{{cliente.tipo.idTipAALM}}";
       </script>




      <input type="hidden" name="idCliAALM"  value="{{cliente.idCliAALM}}">
      <b>Nombre:</b>
      <input type="text" name="nombreCliAALM" value="{{cliente.nombreCliAALM}}" id="nombreCliAALM" placeholder="Ingrese el nombre" class="form-control" required><br>
      <b>Apellido:</b>
      <input type="text" name="apellidoCliAALM" value="{{cliente.apellidoCliAALM}}" id="apellidoCliAALM" placeholder="Ingrese el apellido" class="form-control" required><br>
      <b>Direccion:</b>
      <input type="text" name="direccionCliAALM" value="{{cliente.direccionCliAALM}}" id="direccionCliAALM" placeholder="Ingrese la direccion" class="form-control" required>
      <br>
      <b>Telefono:</b>
      <input type="number" name="telefonoCliAALM" value="{{cliente.telefonoCliAALM}}" id="telefonoCliAALM" placeholder="Ingrese el telefono" class="form-control" required>
      <br>
      <b>Fotografia</b>
            <div class="custom-file">
                <input type="file" name="fotografia" accept="image/*" id="fotografia" class="custom-file-input" >
            </div>
            {% if cliente.fotografia %}
                <img src="{{ cliente.fotografia.url }}" alt="{{ cliente.fotografia.name }}" height="60px">
            {% endif %}
      <br>
      <script>
       $(document).ready(function () {
           $("#fotografia").fileinput({
             //showUpload:false
             //showRemove: false,
             language:'es',
           });
       });
     </script>

      <center>
        <button type="submit" name="button"
        class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;Actualizar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/listadoClientes/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>

<script type="text/javascript">
  $.validator.addMethod(
'lettersonly',
function (value, element) {
  return this.optional(element) || /^[a-zA-Z\s]*$/.test(value)
},
'Solo se permiten letras en este campo'
)
  $("#frm_nuevo_cliente").validate({
    rules:{
      "idTipAALM":{
      required:true
     },
       "nombreCliAALM":{
       required:true,
       lettersonly:true
      },
      "apellidoCliAALM":{
        required:true,
        lettersonly:true
      },
      "direccionCliAALM":{
        required:true,
        lettersonly:true
      },
      "telefonoCliAALM":{
        required:true,
        digits: true
      },
      "fotografia":{
        required:true
      }

    },
    messages:{
      "idTipAALM":{
      required:"Por favor seleccione el tipo"
     },
     "nombreCliAALM":{
     required:"Ingrese el nombre"
    },
    "apellidoCliAALM":{
      required:"Ingrese el apellido"
    },
    "direccionCliAALM":{
      required:"Ingrese el apellido"
    },
    "telefonoCliAALM":{
      required:"Ingrese el telefono"
    },
    "fotografia":{
      required:"Ingrese la fotografia"
      }

    },
  });
</script>
{% endblock %}
