{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}

<!DOCTYPE html>
<section class="explore-section section-padding" id="section_2">


            <div class="col-12 text-center">
                <h2 class="mb-4">CORREO</h2>
            </div>

    <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-5 col-12">
        <div class="card p-4">
          <form action="{% url 'enviar_correo' %}" method="post" enctype="multipart/form-data" id="frm_nuevo_cliente">
            {% csrf_token %}

            <div class="mb-3">
              <label for="destinatario" class="form-label">Destinatario:</label>
              <input type="email" name="destinatario" id="destinatario" class="form-control" placeholder="Ingrese el destinatario" required>
            </div>

            <div class="mb-3">
              <label for="asunto" class="form-label">Asunto:</label>
              <input type="text" name="asunto" id="asunto" class="form-control" placeholder="Ingrese el asunto" required>
            </div>

            <div class="mb-3">
              <label for="cuerpo" class="form-label">Mensaje:</label>
              <textarea name="cuerpo" id="cuerpo" class="form-control" placeholder="Ingrese un mensaje"></textarea>
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-primary">Enviar Correo</button>

              <a href="/enviar_correo/"
              class="btn btn-warning">
                Cancelar Correo
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $.validator.addMethod(
  'lettersonly',
  function (value, element) {
    return this.optional(element) || /^[a-zA-Z\s]*$/.test(value)
  },
  'Solo se permiten letras en este campo'
  )
    $("#frm_nuevo_cliente").validate({
      rules:{
        "destinatario":{
          required:true

        },
        "asunto":{
          required:true,
          lettersonly:true
        },
        "cuerpo":{
          required:true,
          lettersonly:true
        }



      },
      messages:{
        "destinatario":{
          required:"Ingrese el destinatario"
        },
        "asunto":{
          required:"Ingrese el asunto"
        },
        "cuerpo":{
          required:"Ingrese el cuerpo"
        }


      }
    });
  </script>



  {% endblock %}
