{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<div style="padding: 50px 30px 50px 30px;">
  <br>
<div class="row justify-content-center">
       <div class="col-md-2">
         <h1><i class="fa-solid fa-school-flag"></i> Lugares</h1>

       <form class="" action="/guardarLugar/" method="post" enctype="multipart/form-data" id="frm_nuevo_lugar">
         {% csrf_token %}

         <br>
         <b>Nombre:</b>
         <input type="text" name="nombreLugAALM" value="" id="nombreLugAALM" placeholder="Ingrese el nombre" class="form-control" required><br>
         <b>Estado:</b>
         <input type="text" name="estadoLugAALM" value="" id="estadoLugAALM" placeholder="Ingrese la estado" class="form-control" required><br>
         <b>Descripcion:</b>
         <input type="text" name="descripcionLugAALM" value="" id="descripcionLugAALM" placeholder="Ingrese la descripcion" class="form-control" required><br>


          <center>
            <button type="submit" name="button" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;</button>
            <button type="reset" name="button" class="btn btn-warning">&nbsp;&nbsp;&nbsp;Cancelar&nbsp;&nbsp;&nbsp;</button>

          </center>


       </form>

     </div>
     <div class="col-md-5 text-center">

       <img src="{% static 'img/logo1.png' %}" alt=""  width="20%">
       <table class="table" id="tbl_lugares">
         <thead>
           <tr>
             <th>ID</th>
             <th>NOMBRE</th>
             <th>ESTADO</th>
             <th>DESCRIPCION</th>


             <th>ACCIONES</th>
           </tr>

         </thead>
         <tbody>
           {% for lugar in lugares %}
              <tr>
                <td>{{lugar.idLugAALM}}</td>
                <td>{{lugar.nombreLugAALM}}</td>
                <td>{{lugar.estadoLugAALM}}</td>
                <td>{{lugar.descripcionLugAALM}}</td>


                <td>
                      <a href="/editarLugar/{{lugar.idLugAALM}}" class="btn btn-warning">Editar</a>
                      <a href="javascript: void(0)" onclick="eliminarLugar('/eliminarLugar/{{lugar.idLugAALM}}');" class="btn btn-danger">Eliminar</a>
                </td>
              </tr>
              {% endfor %}
         </tbody>

       </table>
     </div>

  </div>

  <div class="row">
  <div class="col-md-12 text-center">
    <button id="toggleChartButton" onclick="toggleChart()" class="btn btn-info">Mostrar/ocultar gráfico</button>

  </div>
  <div
        id="chartContainer"
        style="
          width: 50%;
          margin: auto;
          border: 2px solid black;
          padding: 10px;
          display: none;
        "
      >
        <canvas id="myChart"></canvas>
  </div>
</div>


  <script type="text/javascript">
      function eliminarLugar(url){
        iziToast.question({
            timeout: 15000,
            close: true,
            overlay: true,
            displayMode: 'once',
            id: 'question',
            zindex: 999,
            title: 'CONFIRMACIÓN',
            message: '¿Está seguro de eliminar el lugar seleccionado?',
            position: 'center',
            buttons: [
                ['<button><b>SI</b></button>', function (instance, toast) {
                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    window.location.href=url;
                }, true],
                ['<button>NO</button>', function (instance, toast) {

                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                }],
            ]
        });
      }
    </script>

    <script type="text/javascript">
      $.validator.addMethod(
    'lettersonly',
    function (value, element) {
      return this.optional(element) || /^[a-zA-Z\s]*$/.test(value)
    },
    'Solo se permiten letras en este campo'
  )
      $("#frm_nuevo_lugar").validate({
        rules:{
          "nombreLugAALM":{
            required:true,
            lettersonly:true
          },
          "estadoLugAALM":{
            required:true,
            lettersonly:true
          },
          "descripcionLugAALM":{
            required:true,
            lettersonly:true
          }



        },
        messages:{
          "nombreLugAALM":{
            required:"Ingrese el nombre"
          },
          "estadoLugAALM":{
            required:"Ingrese el estado"
          },
          "descripcionLugAALM":{
            required:"Ingrese la descripcion"
          }



        }
      });
    </script>


    <script type="text/javascript">
       //let table = new DataTable('#tbl_clientes');
        $('#tbl_lugares').DataTable( {
            dom: 'Bfrtip',
            buttons: [
            {
                extend: 'pdfHtml5',
                messageTop: 'REPORTE DE LUGARES - DJANGO Y DATATABLES.'
            },
            'print',
            'csv'
          ],
          language: {
                  url: "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json" // Configura el idioma a español
              }
          });

      </script>

</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const ctx = document.getElementById('myChart');

    const tiposSet = new Set();

    const lugaresTipo = {};
    {% for lugar in lugares %}
      tiposSet.add("{{ nombreLugAALM}}");
      if (!lugaresTipo["{{ nombreLugAALM }}"]) {
        lugaresTipo["{{ nombreLugAALM }}"] = 1;
      } else {
        lugaresTipo["{{ nombreLugAALM }}"] += 1;
      }
    {% endfor %}
    const tiposArray = Array.from(tiposSet);
    const posiciones = tiposArray.map((tipo, index) => ({ x: index, y: lugaresTipo[tipo] || 0 }));

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: tiposArray,
        datasets: [{
          label: 'Cantidad de Lugar',
          data: posiciones.map(posicion => posicion.y),
          backgroundColor: 'rgba(75, 192, 192, 0.5)',
          borderColor: 'rgba(75, 192, 192, 1)',
          borderWidth: 1,
        }]
      },
      options: {
        scales: {
          x: {
            type: 'category',
            position: 'bottom',
          },
          y: {
            beginAtZero: true,
            max: 10,
            stepSize: 1,
          }
        }
      }
    });
    window.toggleChart = function() {
      const chartContainer = document.getElementById('chartContainer');

      if (chartContainer.style.display === 'none') {
        chartContainer.style.display = 'block';
      } else {
        chartContainer.style.display = 'none';
      }
    };
  });
</script>







    {% endblock %}
