{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<div style="padding: 50px 30px 50px 30px;">
  <br>
<div class="row justify-content-center">
       <div class="col-md-2">
         <h1><i class="fa-solid fa-school-flag"></i> Marcas</h1>

       <form class="" action="/guardarMarca/" method="post" enctype="multipart/form-data" id="frm_nuevo_marca">
         {% csrf_token %}

         <br>
         <b>Nombre:</b>
         <input type="text" name="nombreMarAALM" value="" id="nombreMarAALM" placeholder="Ingrese el nombre" class="form-control" required><br>
         <b>Descripcion:</b>
         <input type="text" name="descripcionMarAALM" value="" id="descripcionMarAALM" placeholder="Ingrese la descripcion" class="form-control" required><br>
         <b>Logo</b>
         <input type="file" name="fotografia" accept="image/*" id="fotografia" value="" class="form-control" >
         <br>
         <script>
          $(document).ready(function () {
              $("#fotografia").fileinput({
                //showUpload:false
                //showRemove: false,
                language:'es',
              });
          });
        </script>


          <center>
            <button type="submit" name="button" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;</button>
            <button type="reset" name="button" class="btn btn-warning">&nbsp;&nbsp;&nbsp;Cancelar&nbsp;&nbsp;&nbsp;</button>

          </center>


       </form>

     </div>
     <div class="col-md-5 text-center">

       <img src="{% static 'img/logo1.png' %}" alt=""  width="20%">
       <table class="table" id="tbl_marcas">
         <thead>
           <tr>
             <th>ID</th>
             <th>NOMBRE</th>
             <th>DESCRIPCION</th>
             <th>LOGO</th>


             <th>ACCIONES</th>
           </tr>

         </thead>
         <tbody>
           {% for marca in marcas %}
              <tr>
                <td>{{marca.idMarAALM}}</td>
                <td>{{marca.nombreMarAALM}}</td>
                <td>{{marca.descripcionMarAALM}}</td>
                <td>
                {% if marca.fotografia %}
                <a href="{{marca.fotografia.url}}" target="_blank"><img src="{{marca.fotografia.url}}" alt="" height="50px">
                {% else %}</a>

                <b>N A</b>
                {% endif %}
              </td>

                <td>
                      <a href="/editarMarca/{{marca.idMarAALM}}" class="btn btn-warning">Editar</a>
                      <a href="javascript: void(0)" onclick="eliminarMarca('/eliminarMarca/{{marca.idMarAALM}}');" class="btn btn-danger">Eliminar</a>
                </td>
              </tr>
              {% endfor %}
         </tbody>

       </table>
     </div>

  </div>

  <div class="row">
  <div class="col-md-12 text-center">
    <button id="toggleChartButton" onclick="toggleChart()" class="btn btn-info">Mostrar/ocultar gráfico</button>

  </div>
  <div
        id="chartContainer"
        style="
          width: 50%;
          margin: auto;
          border: 2px solid black;
          padding: 10px;
          display: none;
        "
      >
        <canvas id="myChart"></canvas>
  </div>
</div>


  <script type="text/javascript">
      function eliminarMarca(url){
        iziToast.question({
            timeout: 15000,
            close: true,
            overlay: true,
            displayMode: 'once',
            id: 'question',
            zindex: 999,
            title: 'CONFIRMACIÓN',
            message: '¿Está seguro de eliminar el marca seleccionado?',
            position: 'center',
            buttons: [
                ['<button><b>SI</b></button>', function (instance, toast) {
                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    window.location.href=url;
                }, true],
                ['<button>NO</button>', function (instance, toast) {

                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                }],
            ]
        });
      }
    </script>

    <script type="text/javascript">
      $.validator.addMethod(
    'lettersonly',
    function (value, element) {
      return this.optional(element) || /^[a-zA-Z\s]*$/.test(value)
    },
    'Solo se permiten letras en este campo'
  )
      $("#frm_nuevo_marca").validate({
        rules:{
          "nombreMarAALM":{
            required:true,
            lettersonly:true
          },
          "descripcionMarAALM":{
            required:true,
            lettersonly:true
          },
          "fotografia":{
            required:true
          }



        },
        messages:{
          "nombreMarAALM":{
            required:"Ingrese el nombre"
          },
          "descripcionMarAALM":{
            required:"Ingrese la descripcion"
          },
          "fotografia":{
            required:"Ingrese la fotografia"
          }



        }
      });
    </script>


    <script type="text/javascript">
       //let table = new DataTable('#tbl_clientes');
        $('#tbl_marcas').DataTable( {
            dom: 'Bfrtip',
            buttons: [
            {
                extend: 'pdfHtml5',
                messageTop: 'REPORTE DE MARCAS - DJANGO Y DATATABLES.'
            },
            'print',
            'csv'
          ],
          language: {
                  url: "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json" // Configura el idioma a español
              }
          });

      </script>

</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const ctx = document.getElementById('myChart');

    const tiposSet = new Set();

    const marcasTipo = {};
    {% for marca in marcas %}
      tiposSet.add("{{ nombreMarAALM}}");
      if (!marcasTipo["{{ nombreMarAALM }}"]) {
        marcasTipo["{{ nombreMarAALM }}"] = 1;
      } else {
        marcasTipo["{{ nombreMarAALM }}"] += 1;
      }
    {% endfor %}
    const tiposArray = Array.from(tiposSet);
    const posiciones = tiposArray.map((tipo, index) => ({ x: index, y: marcasTipo[tipo] || 0 }));

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: tiposArray,
        datasets: [{
          label: 'Cantidad de Marcas',
          data: posiciones.map(posicion => posicion.y),
          backgroundColor: 'rgba(75, 192, 192, 0.5)',
          borderColor: 'rgba(75, 192, 192, 1)',
          borderWidth: 1,
        }]
      },
      options: {
        scales: {
          x: {
            type: 'category',
            position: 'bottom',
          },
          y: {
            beginAtZero: true,
            max: 10,
            stepSize: 1,
          }
        }
      }
    });
    window.toggleChart = function() {
      const chartContainer = document.getElementById('chartContainer');

      if (chartContainer.style.display === 'none') {
        chartContainer.style.display = 'block';
      } else {
        chartContainer.style.display = 'none';
      }
    };
  });
</script>





    {% endblock %}
