{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<div style="padding: 50px 30px 50px 30px;">
  <br>
<div class="row justify-content-center">
       <div class="col-md-2">
         <h1><i class="fa-solid fa-school-flag"></i> Registros</h1>
         <form class="" action="/guardarRegistro/" method="post" enctype="multipart/form-data" id="frm_nuevo_registro">
           {% csrf_token %}
           <b>Seleccione el Vehiculo:</b>
           <select class="form-control selectpicker" name="id_veh" id="id_veh" data-live-search="true" data-live-search-style="startsWith" required>
              <option value="">---SELECCIONE EL VEHICULO---</option >
              {%  for vehiculo in vehiculos %}
              <option value="{{vehiculo.idVehAALM}}">{{vehiculo.placaVehAALM}}</option>
              {% endfor %}
            </select>
            <br>
            <b>Seleccione el Lugar:</b>
            <select class="form-control selectpicker" name="id_lug" id="id_lug" data-live-search="true" data-live-search-style="startsWith" required>
               <option value="">---SELECCIONE EL LUGAR---</option >
               {%  for lugar in lugares %}
               <option value="{{lugar.idLugAALM}}">{{lugar.nombreLugAALM}}</option>
               {% endfor %}
             </select>
             <br>


           <br>
           <b>Fecha Ingreso:</b>
           <input type="date" name="fechaIngresoRegAALM" value="" id="fechaIngresoRegAALM" placeholder="Ingrese la fecha ingreso" class="form-control" required><br>
           <b>Fecha Salida:</b>
           <input type="date" name="fechaSalidaRegAALM" value="" id="fechaSalidaRegAALM" placeholder="Ingrese la fecha de salida" class="form-control" required><br>

           <b>Hora Ingreso:</b>
           <input type="text" name="horaIngresoRegAALM" value="" id="horaIngresoRegAALM" placeholder="Ingrese la hora de ingreso (HH:MM)" class="form-control" required pattern="[0-9]{1,2}:[0-9]{2}">
           <br>

           <b>Hora Salida:</b>
           <input type="text" name="horaSalidaRegAALM" value="" id="horaSalidaRegAALM" placeholder="Ingrese la hora de salida (HH:MM)" class="form-control" required pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]">
           <br>
           <b>Email:</b>
           <input type="email" name="emailRegAALM" value="" id="emailRegAALM" placeholder="Ingrese el email" class="form-control" required>
           <br>
           <b>Total:</b>
           <input type="number" name="total" value="" id="total" placeholder="Ingrese el total" class="form-control" required step="0.01">
           <br>





            <center>
              <button type="submit" name="button" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;</button>
              <button type="reset" name="button" class="btn btn-warning">&nbsp;&nbsp;&nbsp;Cancelar&nbsp;&nbsp;&nbsp;</button>

            </center>


         </form>

       </div>
       <div class="col-md-5 text-center">
         <img src="{% static 'img/libro1.jpg' %}" alt=""  width="20%">
         <table class="table" id="tbl_registros">
           <thead>
             <tr>
               <th>ID</th>
               <th>FECHA INGRESO</th>
               <th>FECHA SALIDA</th>
               <th>HORA INGRESO</th>
               <th>HORA SALIDA</th>
               <th>EMAIL</th>
               <th>TOTAL</th>
               <th>VEHICULO</th>
               <th>LUGAR</th>
               <th>ACCIONES</th>


             </tr>

           </thead>
           <tbody>
             {% for registro in registros %}
                <tr>
                  <td>{{registro.idRegAALM}}</td>
                  <td>{{registro.fechaIngresoRegAALM}}</td>
                  <td>{{registro.fechaSalidaRegAALM}}</td>
                  <td>{{registro.horaIngresoRegAALM}}</td>
                  <td>{{registro.horaSalidaRegAALM}}</td>
                  <td>{{registro.emailRegAALM}}</td>
                  <td>{{registro.total}}</td>

                  <td>{{registro.vehiculo.placaVehAALM}}</td>
                  <td>{{registro.lugar.nombreLugAALM}}</td>




                  <td>
                        <a href="/editarRegistro/{{registro.idRegAALM}}" class="btn btn-warning">Editar</a>
                        <a href="javascript: void(0)" onclick="eliminarRegistro('/eliminarRegistro/{{registro.idRegAALM}}');" class="btn btn-danger">Eliminar</a>
                  </td>
                </tr>
                {% endfor %}
           </tbody>

         </table>
       </div>


    <div class="row">
    <div class="col-md-12 text-center">
      <button id="toggleChartButton" onclick="toggleChart()" class="btn btn-info">Mostrar/ocultar gráfico</button>

    </div>
    <div
          id="chartContainer"
          style="
            width: 50%;
            margin: auto;
            border: 2px solid black;
            padding: 10px;
            display: none;
          "
        >
          <canvas id="myChart"></canvas>
    </div>
  </div>

    <script type="text/javascript">
        function eliminarRegistro(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar el registro seleccionado?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {

                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                  }],
              ]
          });
        }
      </script>

      <script type="text/javascript">
        $.validator.addMethod(
        'lettersonly',
        function (value, element) {
          return this.optional(element) || /^[a-zA-Z\s]*$/.test(value)
        },
        'Solo se permiten letras en este campo'
      )
        $("#frm_nuevo_registro").validate({
          rules:{
            "id_veh":{
            required:true
           },
             "id_lug":{
             required:true
            },
             "fechaIngresoRegAALM":{
             required:true
            },
             "fechaSalidaRegAALM":{
              required:true
            },
            "horaIngresoRegAALM":{
              required:true
            },
            "horaSalidaRegAALM":{
              required:true
            },
            "emailRegAALM":{
              required:true
            },
            "total":{
              required:true
            }

          },
          messages:{
            "id_veh":{
            required:"Por favor seleccione el vehiculo"
           },
           "id_lug":{
           required:"Por favor seleccione el lugar"
          },
           "fechaIngresoRegAALM":{
           required:"Ingrese la fecha de ingreso"
          },
          "fechaSalidaRegAALM":{
            required:"Ingrese la fecha salida"
          },
          "horaIngresoRegAALM":{
            required:"Ingrese la hora de ingreso"
          },
          "horaSalidaRegAALM":{
            required:"Ingrese la hora de salida"
          },
          "emailRegAALM":{
            required:"Ingrese el email"
            },
            "total":{
              required:"Ingrese el total"
              }

          },
        });
      </script>

      <script type="text/javascript">
       //let table = new DataTable('#tbl_clientes');
        $('#tbl_registros').DataTable( {
            dom: 'Bfrtip',
            buttons: [
            {
                extend: 'pdfHtml5',
                messageTop: 'REPORTE DE REGISTROS - DJANGO Y DATATABLES.'
            },
            'print',
            'csv'
          ],
          language: {
                  url: "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json" // Configura el idioma a español
              }
        } );
      </script>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const ctx = document.getElementById('myChart');

    const tiposSet = new Set();

    const registrosTipo = {};
    {% for registro in registros %}
      tiposSet.add("{{ fechaIngresoRegAALM}}");
      if (!registrosTipo["{{ fechaIngresoRegAALM }}"]) {
        registrosTipo["{{ fechaIngresoRegAALM }}"] = 1;
      } else {
        registrosTipo["{{ fechaIngresoRegAALM }}"] += 1;
      }
    {% endfor %}
    const tiposArray = Array.from(tiposSet);
    const posiciones = tiposArray.map((tipo, index) => ({ x: index, y: registrosTipo[tipo] || 0 }));

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: tiposArray,
        datasets: [{
          label: 'Cantidad de Registros',
          data: posiciones.map(posicion => posicion.y),
          backgroundColor: 'rgba(75, 192, 192, 0.5)',
          borderColor: 'rgba(75, 192, 192, 1)',
          borderWidth: 1,
        }]
      },
      options: {
        scales: {
          x: {
            type: 'category',
            position: 'bottom',
          },
          y: {
            beginAtZero: true,
            max: 10,
            stepSize: 1,
          }
        }
      }
    });
    window.toggleChart = function() {
      const chartContainer = document.getElementById('chartContainer');

      if (chartContainer.style.display === 'none') {
        chartContainer.style.display = 'block';
      } else {
        chartContainer.style.display = 'none';
      }
    };
  });
</script>





    {% endblock %}
