{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<div style="padding: 50px 30px 50px 30px;">
  <br>
<div class="row justify-content-center">
       <div class="col-md-2">
         <h1><i class="fa-solid fa-school-flag"></i> Vehiculos</h1>
         <form class="" action="/guardarVehiculo/" method="post" enctype="multipart/form-data" id="frm_nuevo_vehiculo">
           {% csrf_token %}
           <b>Seleccione el Cliente:</b>
           <select class="form-control selectpicker" name="id_cli" id="id_cli" data-live-search="true" data-live-search-style="startsWith" required>
              <option value="">---SELECCIONE EL  CLIENTE---</option >
              {%  for cliente in clientes %}
              <option value="{{cliente.idCliAALM}}">{{cliente.nombreCliAALM}}</option>
              {% endfor %}
            </select>
            <br>
            <b>Seleccione la Marca:</b>
            <select class="form-control selectpicker" name="id_mar" id="id_mar" data-live-search="true" data-live-search-style="startsWith" required>
               <option value="">---SELECCIONE LA MARCA---</option >
               {%  for marca in marcas %}
               <option value="{{marca.idMarAALM}}">{{marca.nombreMarAALM}}</option>
               {% endfor %}
             </select>
             <br>


           <br>
           <b>Placa:</b>
           <input type="text" name="placaVehAALM" value="" id="placaVehAALM" placeholder="Ingrese la placa" class="form-control" required><br>
           <b>Modelo:</b>
           <input type="text" name="modeloVehAALM" value="" id="modeloVehAALM" placeholder="Ingrese el modelo" class="form-control" required><br>
           <b>Año de Fabricación:</b>
           <input type="text" name="anofabricacionVehAALM" value="" id="anofabricacionVehAALM" placeholder="Ingrese el año (YYYY)" class="form-control" pattern="\d{4}" title="Ingrese un año válido de cuatro dígitos" required>
           <br>
           <b>Color:</b>
           <input type="text" name="colorVehAALM" value="" id="colorVehAALM" placeholder="Ingrese el color" class="form-control" required>
           <br>
           <b>Fotografia</b>
            <input type="file" name="fotografia" accept="image/*" id="fotografia" value="" class="form-control" >
           <br>
           <script>
           $(document).ready(function () {
               $("#fotografia").fileinput({
                 //showUpload:false
                 //showRemove: false,
                 language:'es',
               });
             });
           </script>



            <center>
              <button type="submit" name="button" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;</button>
              <button type="reset" name="button" class="btn btn-warning">&nbsp;&nbsp;&nbsp;Cancelar&nbsp;&nbsp;&nbsp;</button>

            </center>


         </form>

       </div>
       <div class="col-md-5 text-center">
         <img src="{% static 'img/libro1.jpg' %}" alt=""  width="20%">
         <table class="table" id="tbl_vehiculos">
           <thead>
             <tr>
               <th>ID</th>
               <th>PLACA</th>
               <th>MODELO</th>
               <th>ANO FABRICACION</th>
               <th>COLOR</th>
               <th>FOTOGRAFIA</th>
               <th>CLIENTE</th>
               <th>MARCA</th>
               <th>ACCIONES</th>


             </tr>

           </thead>
           <tbody>
             {% for vehiculo in vehiculos %}
                <tr>
                  <td>{{vehiculo.idVehAALM}}</td>
                  <td>{{vehiculo.placaVehAALM}}</td>
                  <td>{{vehiculo.modeloVehAALM}}</td>
                  <td>{{vehiculo.anofabricacionVehAALM}}</td>
                  <td>{{vehiculo.colorVehAALM}}</td>

                  <td>
                    {% if vehiculo.fotografia %}
                    <a href="{{vehiculo.fotografia.url}}" target="_blank"><img src="{{vehiculo.fotografia.url}}" alt="" height="50px">
                    {% else %}</a>

                    <b>N A</b>
                    {% endif %}
                  </td>

                  <td>{{vehiculo.cliente.nombreCliAALM}}</td>
                  <td>{{vehiculo.marca.nombreMarAALM}}</td>




                  <td>
                        <a href="/editarVehiculo/{{vehiculo.idVehAALM}}" class="btn btn-warning">Editar</a>
                        <a href="javascript: void(0)" onclick="eliminarVehiculo('/eliminarVehiculo/{{vehiculo.idVehAALM}}');" class="btn btn-danger">Eliminar</a>
                  </td>
                </tr>
                {% endfor %}
           </tbody>

         </table>
       </div>


    <div class="row">
    <div class="col-md-12 text-center">
      <button id="toggleChartButton" onclick="toggleChart()" class="btn btn-info">Mostrar/ocultar gráfico</button>

    </div>
    <div
          id="chartContainer"
          style="
            width: 50%;
            margin: auto;
            border: 2px solid black;
            padding: 10px;
            display: none;
          "
        >
          <canvas id="myChart"></canvas>
    </div>
  </div>

    <script type="text/javascript">
        function eliminarVehiculo(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar el vehiculo seleccionado?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {

                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                  }],
              ]
          });
        }
      </script>

      <script type="text/javascript">
        $.validator.addMethod(
        'lettersonly',
        function (value, element) {
          return this.optional(element) || /^[a-zA-Z\s]*$/.test(value)
        },
        'Solo se permiten letras en este campo'
      )
        $("#frm_nuevo_vehiculo").validate({
          rules:{
            "id_cli":{
            required:true
           },
             "id_mar":{
             required:true
            },
             "placaVehAALM":{
             required:true
            },
             "modeloVehAALM":{
              required:true,
              lettersonly:true
            },
            "anofabricacionVehAALM":{
              required:true,
              digits: true
            },
            "colorVehAALM":{
              required:true,
              lettersonly:true
            },
            "fotografia":{
              required:true
            }

          },
          messages:{
            "id_cli":{
            required:"Por favor seleccione el cliente"
           },
           "id_mar":{
           required:"Por favor seleccione la marca"
          },
           "placaVehAALM":{
           required:"Ingrese la placa"
          },
          "modeloVehAALM":{
            required:"Ingrese el modelo"
          },
          "anofabricacionVehAALM":{
            required:"Ingrese el ano de fabricacion"
          },
          "colorVehAALM":{
            required:"Ingrese el color"
          },
          "fotografia":{
            required:"Ingrese la fotografia"
            }

          },
        });
      </script>

      <script type="text/javascript">
       //let table = new DataTable('#tbl_clientes');
        $('#tbl_vehiculos').DataTable( {
            dom: 'Bfrtip',
            buttons: [
            {
                extend: 'pdfHtml5',
                messageTop: 'REPORTE DE VEHICULOS - DJANGO Y DATATABLES.'
            },
            'print',
            'csv'
          ],
          language: {
                  url: "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json" // Configura el idioma a español
              }
        } );
      </script>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const ctx = document.getElementById('myChart');

    const tiposSet = new Set();

    const vehiculosTipo = {};
    {% for vehiculo in vehiculos %}
      tiposSet.add("{{ placaVehAALM}}");
      if (!vehiculosTipo["{{ placaVehAALM }}"]) {
        vehiculosTipo["{{ placaVehAALM }}"] = 1;
      } else {
        vehiculosTipo["{{ placaVehAALM }}"] += 1;
      }
    {% endfor %}
    const tiposArray = Array.from(tiposSet);
    const posiciones = tiposArray.map((tipo, index) => ({ x: index, y: vehiculosTipo[tipo] || 0 }));

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: tiposArray,
        datasets: [{
          label: 'Cantidad de Vehiculos',
          data: posiciones.map(posicion => posicion.y),
          backgroundColor: 'rgba(75, 192, 192, 0.5)',
          borderColor: 'rgba(75, 192, 192, 1)',
          borderWidth: 1,
        }]
      },
      options: {
        scales: {
          x: {
            type: 'category',
            position: 'bottom',
          },
          y: {
            beginAtZero: true,
            max: 10,
            stepSize: 1,
          }
        }
      }
    });
    window.toggleChart = function() {
      const chartContainer = document.getElementById('chartContainer');

      if (chartContainer.style.display === 'none') {
        chartContainer.style.display = 'block';
      } else {
        chartContainer.style.display = 'none';
      }
    };
  });
</script>





    {% endblock %}
